@page "/vacunados"
@using Data.Models
@using Microsoft.EntityFrameworkCore
@inject vacunaContext vc


<h3 class="titulocantvacuna">Vacunados</h3>

<br>
<div class="input-group w-50">
    <label for="filtro" class="input-group-text">Nombre o Apellido</label>
    <input id="filtro" type="text" @bind="filtro" class="form-control" />
    <div>
        <button @onclick="buscar" class="btn btn-success">Buscar</button>
    </div>
    
</div>

<br>


@if (vacunados == null)
{
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{

    <table class="table">

                @foreach (var va in vacunados
    .Where(x => x.Nombre.ToLower().Contains(filtro)
    || x.Apellido.ToLower().Contains(filtro)))
        {
        <div  class="@(va.Id % 2 == 0 ? "alert alert-info":"alert alert-success")" role="alert">
        <tr class="thead">
            <th>Id</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Signo Zodiacal</th>
        </tr>
        <tr>
            <td>@va.Id</td>
            <td>@va.Cedula</td>
            <td>@va.Nombre</td>
            <td>@va.Apellido</td>
            <td>@va.FechaNacimiento.ToShortDateString()</td>
            <td>@va.SignoZodiacal</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <th>Provincia</th>
        
            <th><button class="@(va.Vacuna1Id.HasValue == false ? "btn btn-danger":"btn btn-success")">Vacuna #1</button></th>
            <th>Fecha</th>
            <th><button class="@(va.Vacuna2Id.HasValue == false ? "btn btn-danger":"btn btn-success")">Vacuna #2</button></th>
            <th>Fecha</th>
            <th></th>
        
        </tr>

        <tr>
            <td>@va.Telefono</td>
            <td>@va.Provincia.Nombre</td>
            <td>
                @((va.Vacuna1Id.HasValue)
            ? va.Vacuna1.Marca : "N/A")
            </td>
            <td>
                @((va.Vacuna1Fecha.HasValue) ?
            va.Vacuna1Fecha.Value.ToShortDateString()
            : "N/A")
            </td>
            <td>

            @((va.Vacuna2Id.HasValue)
            ? va.Vacuna2.Marca : "N/A")
            
            </td>
            <td>
                @((va.Vacuna2Fecha.HasValue) ?
            va.Vacuna2Fecha.Value.ToShortDateString()
            : "N/A")
            </td>
            <td></td>
        </tr>
        </div>
            
        }
    </table>
}
@code {
    private string filtro = String.Empty;
    List<Vacunado> filva;
    private List<Vacunado> vacunados = null;
        
    protected override void OnInitialized()
    {
        vacunados = vc.Vacunados.Include("Provincia")
            .Include("Vacuna1").Include("Vacuna2").ToList();
    }
    private void buscar(){
            if(!string.IsNullOrEmpty(filtro)){
                filva = vacunados.Where(x => x.Nombre == filtro.ToLower() && x.Apellido == filtro.ToLower()).ToList();;
                
            }
        }
}
